n8n-workflows/05_new_product_marketing.json
{
  "name": "ShopZone – New Product Marketing Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_unannounced_products",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"batch_size\": 20 }"
      },
      "id": "fetch-new-products",
      "name": "Fetch Unannounced Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        300
      ],
      "notes": "Calls get_unannounced_products() — returns active products that have never had marketing_announced_at set."
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_category_customers_for_announcement",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_category_id\": {{ $json.category_id }},\n  \"p_product_id\":  {{ $json.product_id }}\n}"
      },
      "id": "fetch-matching-customers",
      "name": "Fetch Matching Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        220
      ],
      "notes": "Calls get_category_customers_for_announcement() — one row per customer who has a non-cancelled past order containing a product in this same category, excluding anyone already announced this product."
    },

    {
      "parameters": {
        "jsCode": "const product = $('Fetch Unannounced Products').item.json;\nconst customer = $json;\n\nreturn {\n  product_id:    product.product_id,\n  product_name:  product.product_name,\n  slug:          product.slug,\n  description:   product.description,\n  price:         product.price,\n  image_url:     product.image_url,\n  category_name: product.category_name,\n  user_id:       customer.user_id,\n  email:         customer.email,\n  name:          customer.name,\n};"
      },
      "id": "merge-product-into-customers",
      "name": "Attach Product Info to Each Customer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        140
      ]
    },

    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=New in {{ $json.category_name }}: {{ $json.product_name }} — just for you, {{ $json.name }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:560px;margin:auto;\">\n<div style=\"background:linear-gradient(135deg,#7c3aed,#a78bfa);color:white;padding:24px;border-radius:12px 12px 0 0;text-align:center;\">\n  <p style=\"margin:0;opacity:0.85;font-size:.8rem;text-transform:uppercase;letter-spacing:.06em;\">Just Added to ShopZone</p>\n  <h1 style=\"margin:6px 0 0;font-size:1.4rem;\">{{ $json.product_name }}</h1>\n</div>\n<div style=\"background:#f8fafc;padding:24px;border-radius:0 0 12px 12px;\">\n  <p style=\"color:#334155;font-size:.95rem;\">Hi {{ $json.name }},</p>\n  <p style=\"color:#334155;font-size:.95rem;line-height:1.6;\">\n    Since you've shopped <strong>{{ $json.category_name }}</strong> with us before, we thought you'd want a first look at our newest arrival.\n  </p>\n  {{ $json.image_url ? `<img src=\"${$json.image_url}\" alt=\"${$json.product_name}\" style=\"width:100%;max-height:260px;object-fit:cover;border-radius:10px;margin:16px 0;\" />` : '' }}\n  <h2 style=\"color:#1e293b;font-size:1.15rem;margin:12px 0 4px;\">{{ $json.product_name }}</h2>\n  <p style=\"color:#64748b;font-size:.9rem;line-height:1.5;margin:0 0 10px;\">{{ ($json.description || '').toString().slice(0, 180) }}{{ ($json.description || '').length > 180 ? '…' : '' }}</p>\n  <p style=\"font-size:1.3rem;font-weight:800;color:#7c3aed;margin:0 0 18px;\">₹{{ $json.price }}</p>\n  <a href=\"http://localhost:3000/products/{{ $json.slug }}\" style=\"display:inline-block;background:#7c3aed;color:white;text-decoration:none;font-weight:700;padding:.7rem 1.5rem;border-radius:8px;font-size:.9rem;\">\n    View Product\n  </a>\n  <p style=\"color:#94a3b8;font-size:.75rem;margin-top:24px;\">\n    You're receiving this because you previously purchased from the {{ $json.category_name }} category on ShopZone.<br/>\n    <a href=\"{{ $json.unsubscribe_url }}\" style=\"color:#94a3b8;text-decoration:underline;\">Unsubscribe from these emails</a>\n  </p>\n</div>\n</div>",
        "options": {}
      },
      "id": "send-marketing-email",
      "name": "Send Marketing Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1980,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/log_announcement_email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_product_id\": {{ $json.product_id }},\n  \"p_user_id\":    \"{{ $json.user_id }}\",\n  \"p_email\":      \"{{ $json.email }}\"\n}"
      },
      "id": "log-sent-email",
      "name": "Log Sent Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2200,
        140
      ],
      "notes": "Writes to product_announcement_emails so a manual re-run of this workflow never double-emails the same customer for the same product."
    },


    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "sentEmails"
      },
      "id": "aggregate-sent-emails",
      "name": "Aggregate Sent Emails (Per Product)",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2420,
        140
      ],
      "notes": "Collapses the per-customer email loop back to ONE item per product, so the next node marks the product announced exactly once -- not once per customer."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/mark_product_announced",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_product_id\": {{ $('Fetch Unannounced Products').item.json.product_id }} }"
      },
      "id": "mark-announced-after-emails",
      "name": "Mark Product as Announced (After Emails Sent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2640,
        140
      ],
      "notes": "Runs exactly once per product, after every matching customer has been emailed and logged."
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.user_id }}",
        "dataPropertyName": "token",
        "secret": "sz_ingest_a73f9e2d5b1c48f6a9b2c3d4e5f6a7b8"
      },
      "id": "generate-hmac",
      "name": "Generate Token",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1980,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const customer = $('Attach Product Info to Each Customer').item.json;\nconst token = $json.token;\nconst link = `http://localhost:3000/unsubscribe?uid=${customer.user_id}&token=${token}`;\n\nreturn { ...customer, unsubscribe_url: link };"
      },
      "id": "attach-unsubscribe-link",
      "name": "Attach Unsubscribe Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        140
      ]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Unannounced Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unannounced Products": {
      "main": [
        [
          {
            "node": "Fetch Matching Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Matching Customers": {
      "main": [
        [
          {
            "node": "Attach Product Info to Each Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Product Info to Each Customer": {
      "main": [
        [
          {
            "node": "Generate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Token": {
      "main": [
        [
          {
            "node": "Attach Unsubscribe Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Unsubscribe Link": {
      "main": [
        [
          {
            "node": "Send Marketing Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Marketing Email": {
      "main": [
        [
          {
            "node": "Log Sent Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sent Email": {
      "main": [
        [
          {
            "node": "Aggregate Sent Emails (Per Product)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Sent Emails (Per Product)": {
      "main": [
        [
          {
            "node": "Mark Product as Announced (After Emails Sent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "tags": [
    "shopzone",
    "marketing",
    "email"
  ],
  "_meta": {
    "instanceId": "shopzone-new-product-marketing-v1"
  }
}